@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-50 scroll-smooth;
  background-color: #001219;
}

.hamburger-element {
  @apply bg-slate-500 absolute w-8 h-[3px]
  transition-all ease-in-out delay-100;
}

.header {
  background-color: #152429;
}

.info-container {
  background-image: url('./assets/images/bink_background02.svg');
  background-position: center;
  background-repeat: no-repeat;
}
